body {
    text-align: center;
}
button {
    background-color: green;
    color: white;
    border-radius: 1em;
}

#myRepos {
    padding-top: 1em;
    border: solid black 0.5em;
    padding-bottom: 1em;

}
#myRepos li {
    list-style-type: none;
    padding: 1em 1em;
    margin-bottom: 0.5em;
    font-size: 1em;
    display: inline-block;
}

a {
    text-decoration: none;
}